USE [master]
GO
/****** Object:  Database [RailwayBooking]    Script Date: 9/30/2025 9:01:36 PM ******/
CREATE DATABASE [RailwayBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RailwayBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RailwayBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RailwayBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RailwayBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RailwayBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RailwayBooking]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maVe] [nvarchar](20) NOT NULL,
	[soLuongVe] [int] NOT NULL,
	[donGia] [decimal](12, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[maChuyenTau] [nvarchar](20) NOT NULL,
	[trangThaiChuyenTau] [nvarchar](50) NULL,
	[maLichTrinh] [nvarchar](20) NOT NULL,
	[maTau] [nvarchar](20) NOT NULL,
	[soGheTrong] [int] NULL,
	[thoiGianHanh] [datetime2](0) NOT NULL,
	[thoiGianDen] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ChuyenTau] PRIMARY KEY CLUSTERED 
(
	[maChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[maGhe] [nvarchar](20) NOT NULL,
	[soGhe] [nvarchar](10) NOT NULL,
	[loaiGhe] [nvarchar](50) NULL,
	[maKhoangTau] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanhKhach]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhach](
	[maHK] [nvarchar](20) NOT NULL,
	[tenHK] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[cccd] [nvarchar](20) NULL,
	[gioiTinh] [nvarchar](10) NULL,
 CONSTRAINT [PK_HanhKhach] PRIMARY KEY CLUSTERED 
(
	[maHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[ngayLapHoaDon] [datetime2](0) NOT NULL,
	[VAT] [decimal](5, 2) NOT NULL,
	[maNV] [nvarchar](20) NOT NULL,
	[maHK] [nvarchar](20) NOT NULL,
	[maKhuyenMai] [nvarchar](20) NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoangTau]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoangTau](
	[maKhoangTau] [nvarchar](20) NOT NULL,
	[tenKhoangTau] [nvarchar](100) NULL,
	[soLuongGhe] [int] NOT NULL,
	[loaiKhoang] [nvarchar](50) NULL,
	[maToa] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KhoangTau] PRIMARY KEY CLUSTERED 
(
	[maKhoangTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [nvarchar](20) NOT NULL,
	[tenKhuyenMai] [nvarchar](200) NULL,
	[giamGia] [decimal](5, 2) NOT NULL,
	[ngayBatDau] [datetime2](0) NOT NULL,
	[ngayKetThuc] [datetime2](0) NOT NULL,
	[moTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[maLichTrinh] [nvarchar](20) NOT NULL,
	[gaDi] [nvarchar](100) NOT NULL,
	[gaDen] [nvarchar](100) NOT NULL,
	[thoiGianDi] [int] NULL,
	[soKMDiChuyen] [float] NULL,
 CONSTRAINT [PK_LichTrinh] PRIMARY KEY CLUSTERED 
(
	[maLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](20) NOT NULL,
	[tenNV] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](120) NULL,
	[loaiNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nvarchar](20) NOT NULL,
	[tenDangNhap] [nvarchar](60) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[maNV] [nvarchar](20) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[loaiTK] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TK_maNV] UNIQUE NONCLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TK_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[maTau] [nvarchar](20) NOT NULL,
	[tenTau] [nvarchar](100) NOT NULL,
	[soLuongToa] [int] NOT NULL,
 CONSTRAINT [PK_Tau] PRIMARY KEY CLUSTERED 
(
	[maTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaTau]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaTau](
	[maToa] [nvarchar](20) NOT NULL,
	[soToa] [int] NOT NULL,
	[loaiToa] [nvarchar](50) NULL,
	[maTau] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ToaTau] PRIMARY KEY CLUSTERED 
(
	[maToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 9/30/2025 9:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[maVe] [nvarchar](20) NOT NULL,
	[giaVe] [decimal](12, 2) NOT NULL,
	[loaiVe] [nvarchar](50) NULL,
	[ngayDat] [datetime2](0) NOT NULL,
	[maGhe] [nvarchar](20) NOT NULL,
	[maChuyenTau] [nvarchar](20) NOT NULL,
	[maHK] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTHD_maHD]    Script Date: 9/30/2025 9:01:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD_maHD] ON [dbo].[ChiTietHoaDon]
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CTHD_HD_Ve]    Script Date: 9/30/2025 9:01:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CTHD_HD_Ve] ON [dbo].[ChiTietHoaDon]
(
	[maHoaDon] ASC,
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CT_maLichTrinh]    Script Date: 9/30/2025 9:01:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_CT_maLichTrinh] ON [dbo].[ChuyenTau]
(
	[maLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CT_maTau]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CT_maTau] ON [dbo].[ChuyenTau]
(
	[maTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CT_thoiGian]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CT_thoiGian] ON [dbo].[ChuyenTau]
(
	[thoiGianHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ghe_maKhoang]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ghe_maKhoang] ON [dbo].[Ghe]
(
	[maKhoangTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HD_maHK]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HD_maHK] ON [dbo].[HoaDon]
(
	[maHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HD_maNV]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HD_maNV] ON [dbo].[HoaDon]
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Khoang_maToa]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Khoang_maToa] ON [dbo].[KhoangTau]
(
	[maToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ToaTau_maTau]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ToaTau_maTau] ON [dbo].[ToaTau]
(
	[maTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ve_maHK]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ve_maHK] ON [dbo].[Ve]
(
	[maHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ve_ChuyenTau_Ghe]    Script Date: 9/30/2025 9:01:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ve_ChuyenTau_Ghe] ON [dbo].[Ve]
(
	[maChuyenTau] ASC,
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_SoLuong]  DEFAULT ((1)) FOR [soLuongVe]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HD_NgayLap]  DEFAULT (sysdatetime()) FOR [ngayLapHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HD_VAT]  DEFAULT ((0)) FOR [VAT]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TK_TrangThai]  DEFAULT (N'active') FOR [trangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Ve] FOREIGN KEY([maVe])
REFERENCES [dbo].[Ve] ([maVe])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Ve]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_CT_LichTrinh] FOREIGN KEY([maLichTrinh])
REFERENCES [dbo].[LichTrinh] ([maLichTrinh])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_CT_LichTrinh]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_CT_Tau] FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_CT_Tau]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Khoang] FOREIGN KEY([maKhoangTau])
REFERENCES [dbo].[KhoangTau] ([maKhoangTau])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Khoang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_HK] FOREIGN KEY([maHK])
REFERENCES [dbo].[HanhKhach] ([maHK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_HK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_KM] FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_KM]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[KhoangTau]  WITH CHECK ADD  CONSTRAINT [FK_Khoang_Toa] FOREIGN KEY([maToa])
REFERENCES [dbo].[ToaTau] ([maToa])
GO
ALTER TABLE [dbo].[KhoangTau] CHECK CONSTRAINT [FK_Khoang_Toa]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD  CONSTRAINT [FK_ToaTau_Tau] FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[ToaTau] CHECK CONSTRAINT [FK_ToaTau_Tau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenTau] FOREIGN KEY([maChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenTau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_HanhKhach] FOREIGN KEY([maHK])
REFERENCES [dbo].[HanhKhach] ([maHK])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_HanhKhach]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CTHD_DonGia] CHECK  (([donGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_CTHD_DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CTHD_SoLuong] CHECK  (([soLuongVe]>=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_CTHD_SoLuong]
GO
ALTER TABLE [dbo].[KhoangTau]  WITH CHECK ADD  CONSTRAINT [CK_Khoang_SLGhe] CHECK  (([soLuongGhe]>=(0)))
GO
ALTER TABLE [dbo].[KhoangTau] CHECK CONSTRAINT [CK_Khoang_SLGhe]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KM_GiamGia] CHECK  (([giamGia]>=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KM_GiamGia]
GO
ALTER TABLE [dbo].[Tau]  WITH CHECK ADD  CONSTRAINT [CK_Tau_SoLuongToa] CHECK  (([soLuongToa]>=(0)))
GO
ALTER TABLE [dbo].[Tau] CHECK CONSTRAINT [CK_Tau_SoLuongToa]
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD  CONSTRAINT [CK_Toa_SoToa] CHECK  (([soToa]>=(1)))
GO
ALTER TABLE [dbo].[ToaTau] CHECK CONSTRAINT [CK_Toa_SoToa]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [CK_Ve_Gia] CHECK  (([giaVe]>=(0)))
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [CK_Ve_Gia]
GO
USE [master]
GO
