USE [RailwayBooking]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KhoangCachKM]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_KhoangCachKM]
(
    @maGaDi  varchar(20),
    @maGaDen varchar(20)
)
RETURNS float
AS
BEGIN
    DECLARE @km1 decimal(8,2), @km2 decimal(8,2);

    SELECT @km1 = mocKm FROM dbo.Ga WHERE maGa = @maGaDi;
    SELECT @km2 = mocKm FROM dbo.Ga WHERE maGa = @maGaDen;

    IF @km1 IS NULL OR @km2 IS NULL
        RETURN NULL;  -- thiếu dữ liệu mốc km → để NULL để bạn thấy và bổ sung

    RETURN ABS(CAST(@km2 AS float) - CAST(@km1 AS float));
END
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maVe] [nvarchar](20) NOT NULL,
	[soLuongVe] [int] NOT NULL,
	[donGia] [decimal](12, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[maChuyenTau] [nvarchar](20) NOT NULL,
	[trangThaiChuyenTau] [nvarchar](50) NULL,
	[maLichTrinh] [nvarchar](20) NOT NULL,
	[maTau] [nvarchar](20) NOT NULL,
	[soGheTrong] [int] NULL,
	[thoiGianKhoiHanh] [datetime2](0) NOT NULL,
	[thoiGianKetThuc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ChuyenTau] PRIMARY KEY CLUSTERED 
(
	[maChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[maGa] [varchar](10) NOT NULL,
	[tenGa] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
	[mocKm] [decimal](8, 2) NULL,
 CONSTRAINT [PK_Ga] PRIMARY KEY CLUSTERED 
(
	[maGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[maGhe] [nvarchar](20) NOT NULL,
	[soGhe] [nvarchar](10) NOT NULL,
	[maLoaiGhe] [varchar](12) NOT NULL,
	[maKhoangTau] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanhKhach]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhach](
	[maHK] [nvarchar](20) NOT NULL,
	[tenHK] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[cccd] [nvarchar](20) NULL,
	[gioiTinh] [nvarchar](10) NULL,
 CONSTRAINT [PK_HanhKhach] PRIMARY KEY CLUSTERED 
(
	[maHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[ngayLapHoaDon] [datetime2](0) NOT NULL,
	[VAT] [decimal](5, 2) NOT NULL,
	[maNV] [nvarchar](20) NOT NULL,
	[maHK] [nvarchar](20) NOT NULL,
	[maKhuyenMai] [nvarchar](20) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoangTau]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoangTau](
	[maKhoangTau] [nvarchar](20) NOT NULL,
	[tenKhoangTau] [nvarchar](100) NULL,
	[soLuongGhe] [int] NOT NULL,
	[maToa] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KhoangTau] PRIMARY KEY CLUSTERED 
(
	[maKhoangTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [nvarchar](20) NOT NULL,
	[tenKhuyenMai] [nvarchar](200) NULL,
	[giamGia] [decimal](5, 2) NOT NULL,
	[ngayBatDau] [datetime2](0) NOT NULL,
	[ngayKetThuc] [datetime2](0) NOT NULL,
	[moTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[maLichTrinh] [nvarchar](20) NOT NULL,
	[maGaDi] [varchar](10) NOT NULL,
	[maGaDen] [varchar](10) NOT NULL,
	[soKMDiChuyen] [float] NULL,
	[thoiGianDi] [int] NULL,
	[soTienMotKm] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_LichTrinh] PRIMARY KEY CLUSTERED 
(
	[maLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[maLoaiGhe] [varchar](12) NOT NULL,
	[tenLoaiGhe] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LoaiGhe] PRIMARY KEY CLUSTERED 
(
	[maLoaiGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[maLoaiNV] [varchar](10) NOT NULL,
	[tenLoaiNV] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[maLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[maLoaiTK] [varchar](10) NOT NULL,
	[tenLoaiTK] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](500) NULL,
	[quyenHan] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maLoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[maLoaiVe] [varchar](7) NOT NULL,
	[tenLoaiVe] [nvarchar](100) NOT NULL,
	[moTaLoaiVe] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[maLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](20) NOT NULL,
	[tenNV] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](120) NULL,
	[maLoaiNV] [varchar](10) NOT NULL,
	[ngayBatDauLamViec] [date] NOT NULL,
	[cccd] [varchar](12) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nvarchar](20) NOT NULL,
	[tenDangNhap] [nvarchar](60) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[maNV] [nvarchar](20) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[maLoaiTK] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TK_maNV] UNIQUE NONCLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TK_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[maTau] [nvarchar](20) NOT NULL,
	[tenTau] [nvarchar](100) NOT NULL,
	[soLuongToa] [int] NOT NULL,
 CONSTRAINT [PK_Tau] PRIMARY KEY CLUSTERED 
(
	[maTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaTau]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaTau](
	[maToa] [nvarchar](20) NOT NULL,
	[soToa] [int] NOT NULL,
	[maTau] [nvarchar](20) NOT NULL,
	[soKhoangTau] [int] NOT NULL,
 CONSTRAINT [PK_ToaTau] PRIMARY KEY CLUSTERED 
(
	[maToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[maVe] [nvarchar](20) NOT NULL,
	[giaVe] [decimal](12, 2) NOT NULL,
	[maLoaiVe] [varchar](7) NOT NULL,
	[ngayDat] [datetime2](0) NOT NULL,
	[maGhe] [nvarchar](20) NOT NULL,
	[maChuyenTau] [nvarchar](20) NOT NULL,
	[maHK] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_CTHD_SoLuong]  DEFAULT ((1)) FOR [soLuongVe]
GO
ALTER TABLE [dbo].[ChuyenTau] ADD  CONSTRAINT [DF_ChuyenTau_SoGheTrong]  DEFAULT ((252)) FOR [soGheTrong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HD_NgayLap]  DEFAULT (sysdatetime()) FOR [ngayLapHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HD_VAT]  DEFAULT ((0)) FOR [VAT]
GO
ALTER TABLE [dbo].[LichTrinh] ADD  CONSTRAINT [DF_LichTrinh_SoTienMotKm]  DEFAULT ((500)) FOR [soTienMotKm]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_NgayBatDauLamViec]  DEFAULT (getdate()) FOR [ngayBatDauLamViec]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TK_TrangThai]  DEFAULT (N'active') FOR [trangThai]
GO
ALTER TABLE [dbo].[ToaTau] ADD  CONSTRAINT [DF_ToaTau_SoKhoangTau]  DEFAULT ((0)) FOR [soKhoangTau]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Ve] FOREIGN KEY([maVe])
REFERENCES [dbo].[Ve] ([maVe])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Ve]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_CT_LichTrinh] FOREIGN KEY([maLichTrinh])
REFERENCES [dbo].[LichTrinh] ([maLichTrinh])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_CT_LichTrinh]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_CT_Tau] FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_CT_Tau]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Khoang] FOREIGN KEY([maKhoangTau])
REFERENCES [dbo].[KhoangTau] ([maKhoangTau])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Khoang]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([maLoaiGhe])
REFERENCES [dbo].[LoaiGhe] ([maLoaiGhe])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_HK] FOREIGN KEY([maHK])
REFERENCES [dbo].[HanhKhach] ([maHK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_HK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_KM] FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_KM]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[KhoangTau]  WITH CHECK ADD  CONSTRAINT [FK_Khoang_Toa] FOREIGN KEY([maToa])
REFERENCES [dbo].[ToaTau] ([maToa])
GO
ALTER TABLE [dbo].[KhoangTau] CHECK CONSTRAINT [FK_Khoang_Toa]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_GaDen] FOREIGN KEY([maGaDen])
REFERENCES [dbo].[Ga] ([maGa])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_GaDen]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_GaDi] FOREIGN KEY([maGaDi])
REFERENCES [dbo].[Ga] ([maGa])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_GaDi]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNhanVien] FOREIGN KEY([maLoaiNV])
REFERENCES [dbo].[LoaiNhanVien] ([maLoaiNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([maLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([maLoaiTK])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD  CONSTRAINT [FK_ToaTau_Tau] FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[ToaTau] CHECK CONSTRAINT [FK_ToaTau_Tau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenTau] FOREIGN KEY([maChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenTau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([maGhe])
REFERENCES [dbo].[Ghe] ([maGhe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_HanhKhach] FOREIGN KEY([maHK])
REFERENCES [dbo].[HanhKhach] ([maHK])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_HanhKhach]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LoaiVe] FOREIGN KEY([maLoaiVe])
REFERENCES [dbo].[LoaiVe] ([maLoaiVe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LoaiVe]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CTHD_DonGia] CHECK  (([donGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_CTHD_DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CTHD_SoLuong] CHECK  (([soLuongVe]>=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_CTHD_SoLuong]
GO
ALTER TABLE [dbo].[KhoangTau]  WITH CHECK ADD  CONSTRAINT [CK_Khoang_SLGhe] CHECK  (([soLuongGhe]>=(0)))
GO
ALTER TABLE [dbo].[KhoangTau] CHECK CONSTRAINT [CK_Khoang_SLGhe]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KM_GiamGia] CHECK  (([giamGia]>=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KM_GiamGia]
GO
ALTER TABLE [dbo].[Tau]  WITH CHECK ADD  CONSTRAINT [CK_Tau_SoLuongToa] CHECK  (([soLuongToa]>=(0)))
GO
ALTER TABLE [dbo].[Tau] CHECK CONSTRAINT [CK_Tau_SoLuongToa]
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD  CONSTRAINT [CK_Toa_SoToa] CHECK  (([soToa]>=(1)))
GO
ALTER TABLE [dbo].[ToaTau] CHECK CONSTRAINT [CK_Toa_SoToa]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [CK_Ve_Gia] CHECK  (([giaVe]>=(0)))
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [CK_Ve_Gia]
GO
/****** Object:  StoredProcedure [dbo].[usp_TaoChuyenTau]    Script Date: 10/18/2025 9:20:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo chuyến tàu mới: nếu chưa có LịchTrình (maGaDi, maGaDen) thì tự tạo
CREATE   PROCEDURE [dbo].[usp_TaoChuyenTau]
  @maGaDi        varchar(20),
  @maGaDen       varchar(20),
  @maTau         varchar(20),
  @thoigianKhoi  datetime2(0),
  @thoigianKet   datetime2(0),
  @trangThai     nvarchar(50) = N'đang lập',
  @maChuyenTau   nvarchar(20) OUTPUT,
  @maLichTrinh   nvarchar(20) OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;

    -- 1) Tìm LịchTrình sẵn có theo cặp ga
    SELECT TOP 1 @maLichTrinh = lt.maLichTrinh
    FROM dbo.LichTrinh lt
    WHERE lt.maGaDi = @maGaDi AND lt.maGaDen = @maGaDen;

    -- 2) Nếu chưa có -> tạo mới maLichTrinh + insert (soTienMotKm dùng DEFAULT=500)
    IF @maLichTrinh IS NULL
    BEGIN
      DECLARE @nextLT INT =
        ISNULL(
          (SELECT MAX(CAST(SUBSTRING(maLichTrinh,3,50) AS INT)) FROM dbo.LichTrinh
           WHERE ISNUMERIC(SUBSTRING(maLichTrinh,3,50)) = 1), 0
        ) + 1;

      SET @maLichTrinh = 'LT' + RIGHT(REPLICATE('0',6) + CAST(@nextLT AS varchar(6)), 6);

      INSERT INTO dbo.LichTrinh (maLichTrinh, maGaDi, maGaDen, soKMDiChuyen, thoiGianDi, soTienMotKm)
      VALUES (@maLichTrinh, @maGaDi, @maGaDen, NULL, NULL, DEFAULT);
      -- Trigger sẽ tự fill soKMDiChuyen từ kmMarker 2 ga
    END

    -- 3) Tạo mã chuyến tàu
    DECLARE @nextCT INT =
      ISNULL(
        (SELECT MAX(CAST(SUBSTRING(maChuyenTau,3,50) AS INT)) FROM dbo.ChuyenTau
         WHERE ISNUMERIC(SUBSTRING(maChuyenTau,3,50)) = 1), 0
      ) + 1;

    SET @maChuyenTau = 'CT' + RIGHT(REPLICATE('0',6) + CAST(@nextCT AS varchar(6)), 6);

    -- 4) Insert ChuyếnTàu (soGheTrong dùng DEFAULT=252)
    INSERT INTO dbo.ChuyenTau
      (maChuyenTau, trangThaiChuyenTau, maLichTrinh, maTau, soGheTrong, thoiGianKhoiHanh, thoiGianKetThuc)
    VALUES
      (@maChuyenTau, @trangThai, @maLichTrinh, @maTau, DEFAULT, @thoigianKhoi, @thoigianKet);

    -- 5) Kiểm tra nếu km chưa có (thiếu kmMarker ga) thì báo để bạn bổ sung
    IF EXISTS (
      SELECT 1 FROM dbo.LichTrinh WHERE maLichTrinh = @maLichTrinh AND (soKMDiChuyen IS NULL OR soKMDiChuyen = 0)
    )
    BEGIN
      -- Không rollback chuyến; chỉ cảnh báo – tuỳ bạn chọn logic
      PRINT N'Chú ý: Thiếu kmMarker cho ga. soKMDiChuyen chưa được tính.';
    END

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    THROW;
  END CATCH
END
GO
